# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
package/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# testing files
validation_report.html
validation_report.csv
results.csv
results.txt
validation_log.txt

